{
  "presets": [
    "babel-preset-react",
    "babel-preset-env"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              }
            ]
          }
        ]
      ]
    }
  }
}
